<div class="about">
	<img class="selfPortrait" src="../Images/me.jpg">

	<h2>Who am I?</h2>
	<p>My name is Jen Otterbein and I am a Web and UI Developer based in Columbus, Ohio. I have worked in Video Game companies for the last five years and have a huge passion for helping deliver wonderful user experiences. I graduated from Full Sail University with a B.S. in Computer Science. I have also taken courses in various areas of Web Development including HTML, CSS, JavaScript, JQuery, AngularJS, and more. <a target="_blank" href="https://docs.google.com/document/d/1U07ypiCpo5gmn1kE5PmWYmp8N0C2kMbnVA6EJcEHItc/edit?usp=sharing">Check out my Resume here</a>.
	<br>
	<br>
	I am a huge nerd with many hobbies (video games, comic books, makeup, and books to name a few). I am a mom of one human, several animals, and could only do it all with my wonderful husband Kyle.</p>
	
	<h2>What can I do for you?</h2>
	<p>I have worked on teams of artists, designers, and engineers to deliver in depth, clear, and entertaining experiences. I would love to bring my excitement and talent to your next application, website, or game. I am quick to adapt to new systems/code bases and love collaborating with others.</p>

	<h3>More about this portfolio</h3>
	<p>This site was built from the ground up by yours truly. Technology used: HTML, CSS, JQuery, AngularJS</p>
</div>